<config>
    <modules>
        <Hiren_Hiren>    
            <version>1.0.1</version>
        </Hiren_Hiren>
    </modules>
    <frontend>
        <layout>
            <updates>
                <hiren module="Hiren_Hiren">
                    <file>Hiren_Hiren.xml</file>
                </hiren>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <hiren>
                <class>Hiren_Hiren_Model</class>
                <resourceModel>hiren_resource</resourceModel>
            </hiren>
            <hiren_address>
                <class>Hiren_Hiren_Model_Sample</class>
                <resourceModel>hiren_address_resource</resourceModel>
            </hiren_address>
            <hiren_resource>
                <class>Hiren_Hiren_Model_Resource</class>
                <deprecatedNode>hiren_mysql4</deprecatedNode>
                <entities>
                    <hiren>
                        <table>hiren</table>
                    </hiren>
                    <hiren_price>
                        <table>hiren_price</table>
                    </hiren_price>
                    <hiren_address>
                        <table>hiren_address</table>
                    </hiren_address>
                </entities>
            </hiren_resource>
        </models>
        <resources>
            <hiren_setup>
                <setup>
                    <module>Hiren_Hiren</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hiren_setup>
            <hiren_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hiren_write>
            <hiren_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hiren_read>
        </resources>
        <blocks>
            <hiren>
                <class>Hiren_Hiren_Block</class>
            </hiren>
        </blocks>
        <helpers>
           <hiren>
                  <class>Hiren_Hiren_Helper</class>
            </hiren>
        </helpers>
    </global>
    <admin>
        <routers>
            <hiren>
                <use>admin</use>
                <args>
                    <module>Hiren_Hiren</module>
                    <frontName>hiren</frontName>
                </args>
            </hiren>
        </routers>
         <layout>
            <updates>
                <hiren>
                    <file>hiren.xml</file>
                </hiren>
            </updates>
        </layout>
    </admin>
</config>
