<config>
    <modules>
        <Hk_Banner>    
            <version>1.0.0</version>
        </Hk_Banner>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Banner module="Hk_Banner">
                    <file>banner.xml</file>
                </Banner>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <banner>
                <class>Hk_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <banner_resource>
                <class>Hk_Banner_Model_Resource</class>
                <deprecatedNode>banner_mysql4</deprecatedNode>
                <entities>
                    <banner>
                        <table>banner</table>
                    </banner>
                    <bannergroup>
                        <table>banner_group</table>
                    </bannergroup>
                </entities>
            </banner_resource>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Hk_Banner</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
        </resources>
        <blocks>
            <banner>
                <class>Hk_Banner_Block</class>
            </banner>
        </blocks>
        <helpers>
           <banner>
                  <class>Hk_banner_Helper</class>
            </banner>
        </helpers>
    </global>
    <admin>
        <routers>
            <Banner>
                <use>admin</use>
                <args>
                    <module>Hk_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </Banner>
        </routers>
        <!-- <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout> -->
    </admin>
</config>