<config>
    <modules>
        <Hk_Productimport>    
            <version>1.0.0</version>
        </Hk_Productimport>
    </modules>
    <frontend>
        <!-- <routers>
            <Productimport>
                <use>standard</use>
                <args>
                    <module>Hk_Productimport</module>
                    <frontName>productimport</frontName>
                </args>
            </Productimport>
        </routers> -->
        <layout>
            <updates>
                <Productimport module="Hk_Productimport">
                    <file>Hk_Productimport.xml</file>
                </Productimport>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <Hk_Productimport_Model_Observer>
                        <type>singleton</type>
                        <class>productimport/observer</class>
                        <method>customObserver</method>
                    </Hk_Productimport_Model_Observer>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
  <models>
            <productimport>
                <class>Hk_Productimport_Model</class>
                <resourceModel>productimport_resource</resourceModel>
            </productimport>
            <productimport_resource>
                <class>Hk_Productimport_Model_Resource</class>
                <deprecatedNode>productimport_mysql4</deprecatedNode>
                <entities>
                    <productimport>
                        <table>productimport</table>
                    </productimport>
                </entities>
            </productimport_resource>
        </models>
        <blocks>
            <productimport>
                <class>Hk_Productimport_Block</class>
            </productimport>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Hk_Productimport_Block_Adminhtml_Productimport_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>

        <resources>
            <productimport_setup>
                <setup>
                    <module>Hk_Productimport</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productimport_setup>
            <productimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productimport_write>
            <productimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productimport_read>
        </resources>
        <blocks>
            <productimport>
                <class>Hk_Productimport_Block</class>
            </productimport>
        </blocks>
        <helpers>
           <productimport>
                  <class>Hk_productimport_Helper</class>
            </productimport>
        </helpers>
    </global>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hk_Productimport>Hk_Productimport_Adminhtml</Hk_Productimport>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->
        <routers>
            <Productimport>
                <use>admin</use>
                <args>
                    <module>Hk_Productimport</module>
                    <frontName>productimport</frontName>
                </args>
            </Productimport>
        </routers>
         <layout>
            <updates>
                <productimport>
                    <file>productimport.xml</file>
                </productimport>
            </updates>
        </layout>
    </admin>
</config>