<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Practice>
            <version>1.0.1</version>
        </Ccc_Practice>
    </modules>
     <frontend>
        <layout>
            <updates>
                <practice module="Ccc_Practice">
                    <!-- <file>Ccc_practice.xml</file> -->
                </practice>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <practice>
                <class>Ccc_Practice_Model</class>
                <resourceModel>practice_resource</resourceModel>
            </practice>
            <practice_resource>
                <class>Ccc_Practice_Model_Resource</class>
                <entities>
                    <practice>
                        <table>practice</table>
                    </practice>
                </entities>
            </practice_resource>
        </models>
        <resources>
            <practice_setup>
                <setup>
                    <module>Ccc_Practice</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </practice_setup>
            <practice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </practice_write>
            <practice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </practice_read>
        </resources>
        <blocks>
            <practice>
                <class>Ccc_Practice_Block</class>
            </practice>
        </blocks>
        <helpers>
            <practice>
                <class>Ccc_Practice_Helper</class>
            </practice>
        </helpers>
    </global>
    <admin>
        <routers>
            <practice>
                <use>admin</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </admin>
</config>