<config>
    <modules>
        <Hk_Eavmgmt>    
            <version>1.0.1</version>
        </Hk_Eavmgmt>
    </modules>
    <frontend>
        
    </frontend>
    <global>
        <models>
            <eavmgmt>
                <class>Hk_Eavmgmt_Model</class>
                <resourceModel>eavmgmt_resource</resourceModel>
            </eavmgmt>
            <eavmgmt_resource>
                <class>Hk_Eavmgmt_Model_Resource</class>
                <deprecatedNode>eavmgmt_mysql4</deprecatedNode>
                <entities>
                    <eavmgmt>
                        <table>eavmgmt</table>
                    </eavmgmt>
                    <eavmgmt_entity>
                        <table>eavmgmt_entity</table>
                    </eavmgmt_entity>
                </entities>
            </eavmgmt_resource>
        </models>
        <blocks>
            <eavmgmt>
                <class>Hk_Eavmgmt_Block</class>
            </eavmgmt>
        </blocks>
        <helpers>
           <eavmgmt>
                  <class>Hk_Eavmgmt_Helper</class>
            </eavmgmt>
        </helpers>
    </global>
    <admin>
        <routers>
            <eavmgmt>
                <use>admin</use>
                <args>
                    <module>Hk_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </eavmgmt>
        </routers>
    </admin>
</config>