<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_HirenAttr>
			<version>0.0.3</version>
		</Ccc_HirenAttr>
	</modules>
	<global>
		<blocks>
			<hirenAttr>
				<class>Ccc_HirenAttr_Block</class>
			</hirenAttr>
		</blocks>
		<helpers>
			<hirenAttr>
				<class>Ccc_HirenAttr_Helper</class>
			</hirenAttr>
		</helpers>
		<models>
			<hirenAttr>
				<class>Ccc_HirenAttr_Model</class>
				<resourceModel>hirenAttr_resource</resourceModel>
			</hirenAttr>
			<hirenAttr_resource>
				<class>Ccc_HirenAttr_Model_Resource</class>
				<entities>
	                <hirenAttr>
	                    <table>hirenAttr</table>
	                </hirenAttr>
	                <hirenAttr_datetime>
	                	<table>hirenAttr_datetime</table>
		            </hirenAttr_datetime>
		            <hirenAttr_decimal>
		                <table>hirenAttr_decimal</table>
		            </hirenAttr_decimal>
		            <hirenAttr_int>
		                <table>hirenAttr_int</table>
		            </hirenAttr_int>
		            <hirenAttr_text>
		                <table>hirenAttr_text</table>
		            </hirenAttr_text>
		            <hirenAttr_varchar>
		                <table>hirenAttr_varchar</table>
		            </hirenAttr_varchar>
		            <hirenAttr_char>
		                <table>hirenAttr_char</table>
		            </hirenAttr_char>
		            <eav_attribute>
                        <table>hirenAttr_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</hirenAttr_resource>
		</models>
		<resources>
			<hirenAttr_setup>
				<setup>
					<module>Ccc_HirenAttr</module>
					<class>Ccc_HirenAttr_Model_Resource_Setup</class>
				</setup>
			</hirenAttr_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<hirenAttr>
				<title>HirenAttr</title>
				<sort_order>120</sort_order>
				<children>
					<hirenAttr>
						<title>Manage HirenAttr</title>
						<sort_order>100</sort_order>
						<action>hirenAttr/Adminhtml_HirenAttr</action>
					</hirenAttr>
					<hirenAttr_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>hirenAttr/Adminhtml_HirenAttr_Attribute</action>
					</hirenAttr_attribute>
					<hirenAttr_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>hirenAttr/Adminhtml_HirenAttr_Set</action>
					</hirenAttr_set>
				</children>
			</hirenAttr>
		</menu>
		<layout>
			<updates>
				<hirenAttr>
					<file>hirenAttr.xml</file>
				</hirenAttr>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<hirenAttr>
				<use>admin</use>
				<args>
					<module>Ccc_HirenAttr</module>
					<frontName>hirenAttr</frontName>
				</args>
			</hirenAttr>
		</routers>
	</admin>
</config>