<config>
    <modules>
        <Hk_Brand>    
            <version>1.0.0</version>
        </Hk_Brand>
    </modules>
    <frontend>
        <!-- <routers>
            <Brand>
                <use>standard</use>
                <args>
                    <module>Hk_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </Brand>
        </routers> -->
        <layout>
            <updates>
                <Brand module="Hk_Brand">
                    <file>Hk_Brand.xml</file>
                </Brand>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <Hk_Brand_Model_Observer>
                        <type>singleton</type>
                        <class>brand/observer</class>
                        <method>customObserver</method>
                    </Hk_Brand_Model_Observer>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
        <models>
            <brand>
                <class>Hk_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Hk_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                    <brand_address>
                        <table>brand_address</table>
                    </brand_address>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Hk_Brand_Block</class>
            </brand>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Hk_Brand_Block_Adminhtml_Brand_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>

        <resources>
            <brand_setup>
                <setup>
                    <module>Hk_Brand</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>Hk_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
           <brand>
                  <class>Hk_brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hk_Brand>Hk_Brand_Adminhtml</Hk_Brand>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->
        <routers>
            <Brand>
                <use>admin</use>
                <args>
                    <module>Hk_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </Brand>
        </routers>
         <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </admin>
</config>