<config>
    <modules>
        <Hk_Brand>    
            <version>0.2.0</version>
        </Hk_Brand>
    </modules>
     <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Hk_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout> 
    </frontend>
    <global>
        <models>
            <brand>
                <class>Hk_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Hk_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                    <brand_address>
                        <table>brand_address</table>
                    </brand_address>
                </entities>
            </brand_resource>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>Hk_Brand</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>Hk_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
           <brand>
                  <class>Hk_brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <routers>
            <Brand>
                <use>admin</use>
                <args>
                    <module>Hk_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </Brand>
        </routers>
    </admin>
</config>